
html,body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body {
    background-color: #f1f1f1;
    display: flex;
    align-items: center;
}

.wrapper {
    width: 1200px;
    font-size: small;
    display: flex;
    margin: 0 auto;
    background-color:white;
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}
.menu {
    width: 15%;
    background-color: #38afa8;
    padding: 10px 20px 0px;
    color: white
}
.header {
    background-color: #97e1db;
    min-height: 150px;
    color: white;
    padding-left: 0;
    display: flex;
    justify-content: stretch;
}
.header .header_h1 {
    flex-direction: column;
    align-items: flex-start;
    font-size: 50px;
    font-weight: 500;
    position: relative;  
}
.content {
    background-color: white;
    min-height: 300px;
    padding: 20px;
}
.content h2 {
    color: #225753;
}
table, tr, td, th {
    border: #26948b solid 1px;
    width: 450px;
    padding: 3px;
    font-size: 17px;
    border-collapse: collapse;
}
thead{
    background-color: #4bc8be;
    color: #fff;
}
.footer {
    background-color: #26948b;
    min-height: 150px;
    color: white;
    padding: 25px;
}
